/* PRE-LOADER */

.loader-bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader::before, .loader::after{
    content: '';
    border: 1em solid #ff5733;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader::before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}


:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 2px 2px 5px rgba(104, 104, 104, 0.8);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box; 
    
}

/* HEADER */

#main-header{
    background-color: var(--dark);
    width: 100%;
    min-height: 60px;
    color: var(--dark);
    z-index: 10;
    font-family: monospace;
    box-shadow: var(--shadow);
}

/* LOGO */

.logo{
    position: absolute;
    background-color: black;
    float: left;
    padding: 20px 20px 20px 20px;
    font-size: 35px;
    font-family: cursive;
    color: red;
    z-index: 10;
    height: 90px;
    left: 20%;
    /* border: 1px solid white; */
}

/* NAVIGATION BAR */

.navbar{
    padding: 20px 10px 20px 10px;
    font-size: 12px;
    font-weight: 500;
    /* border: 1px solid white; */
    float: right;
    z-index: 10;
}

header > span{
    float: right;
    color: var(--light);
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    width: 160px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    /* border: 1px solid white; */
}

.navbar ul li a{
    text-decoration: none;
    color: var(--light);
}

.active{
    padding: 10px 20px;
    background-color: rgb(245, 100, 47);
    color: var(--light);
    border-radius: 10px;
}

.navbar ul li a:hover{
    padding: 10px 20px;
    background-color: rgb(245, 100, 47);
    color: var(--light);
    border-radius: 10px;
    transition: 0.2s ease-in;
}

/* SHOWCASE

.showcase{
    background: url(https://images.squarespace-cdn.com/content/v1/5c705bd57eb88c11e612dfd0/1557416702645-8Z3VGQ9FQS6VMA1XPFVH/ke17ZwdGBToddI8pDm48kEEdvVusXfA_2dhCHhVWvRUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dotpSqfUYFQ-kqE7EC_z2QYSCHnnnQqaGKCNUbEOngw5JvwGh1qtNWvMhYKnvaKhbA/Slide_2.jpg) no-repeat center center/cover;
    width: 100%;
    height: 600px;
    opacity: 1;
    background-attachment: fixed;
} */

/* MENU */

.menu{
    background: var(--primary);
    padding: 0px;
    padding-top: 80px;
    padding-bottom: 50px;
    display: grid;
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu img{
    box-shadow: var(--shadow);
    /* border: 1px solid black; */
}

.menu a{
    text-decoration: none;
    color: var(--dark);
    font-weight: 600;
}

.menu img:hover{
    transform: scale(0.9);
    opacity: 0.9;
    box-shadow: 10px 10px 10px rgba(104, 104, 104, 0.8);
    transition: 0.2s ease-in;
}

/* FOOTER */

#main-footer{
    height: 50px;
    background-color: var(--dark);
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 18px;
    letter-spacing: 1px;
}

/* LIGHTBOX */